h1{
   text-align: center;
    font-size: 2em;
}

.container{
    text-align: center;
}
.input{
    width: 250px;
    height: 40px;
}
.btn1{
    height: 40px;
    width: 125px;
}
.btn2{
    height: 40px;
    width: 125px;
}