div{

    border:solid green;

}

.static{
    margin-right: 1050px;
    position: static;
    text-size-adjust: 50px;
    margin-left: 100px;
    height: 400px;
}

.mail{
    position: fixed;
    top: 8px;;
    margin-left: 300px;
  right: 107px;
    width: 800px;
    height: 400px;

}
.add{

    text-align: center;
   margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}
table{
    height: 400px;
    width: 800px;
}